{% extends "base.html" %}
{% load static %}
{% load url_filter %}
{% block css %}
    <link rel="stylesheet" href='{% static "main\list.css" %}'>
    <link rel="stylesheet" href='{% static "main\pagination.css" %}'>
    <link rel="stylesheet" href='{% static "main\modal.css" %}'>
{% endblock %}
{% block title %}カップ一覧{% endblock %}
{% block script %}
    {% include "parts\modal.html" %}
{% endblock %}
{% block content %}
    <div id="app">
        <div class="main wrapper">
            <div class="modal">
                <button id="show-modal" @click="showModal = true" class="modal-button"><i class="fa-solid fa-sliders"></i>絞り込み</button>
                <!-- use the modal component, pass in the prop -->
                <modal v-if="showModal" @close="showModal = false">
                </modal>

            </div>
            <div class="condition" v-clock>
                <div class="condition-caption">
                    <p>絞り込み条件：</p>
                </div>
                <div class="condition-list">
                    <div class="condition-price" v-if="min_price !== null | max_price !== null">
                        <p>[[ min_price ]]～[[ max_price ]]円</p>
                    </div>
                    <div class="condition-capacity" v-if="min_capacity !== null | max_capacity !== null">
                        <p>[[ min_capacity ]]～[[ max_capacity ]]ml</p>
                    </div>
                    <div class="condition-material" v-if="search_material !== null">
                        <p> 検索：[[ search_material ]]</p>
                    </div>
                    <div class="condition-sort" v-if="sort !== null">
                        <p>[[ sort ]]</p>
                    </div>
                </div>
            </div>
            <div class="list grid">
                {% for item in items %}
                    <div class="list-item">
                        {% if item.image %}
                            <div class="list-image"><img src="{{ item.image.url }}" alt=""></div>
                        {% endif %}
                        <div class="list-info">
                            <p class="list-title">{{ item.name |truncatechars:45 }}</p>
                            <p class="capacity">容量 <span>{{ item.capacity }}ml</span></p>
                            <p class="price">値段 <span>{{ item.price }}円</span></p>
                            <a href="{{ item.item_url }}">商品はこちら</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# /list #}
            {% include "parts\pagination.html" %}
        </div>
    </div>
    {% include "js.html" %}
    <script src="{% static 'main/js/list.js' %}"></script>
{% endblock %}