{% extends "base.html" %}
{% load static %}
<!-- meta -->
{% block meta %}
<link rel="canonical" href="https://www.mug-cup.tokyo/cup/"/>
<meta property="og:title" content="コップサイズサーチ > 運営者 | マグカップやコップをサイズ・容量・大きさから探そう"/>
<meta property="og:description" content="マグカップやコップをサイズ・容量・大きさから検索することができます。大容量のコップやコーヒーにぴったりなマグカップを見つけたいときに向いています。"/>
<meta content="マグカップやコップをサイズ・容量・大きさから検索することができます。大容量のコップやコーヒーにぴったりなマグカップを見つけたいときに向いています。" name="description">
<meta property="og:url" content="https://www.mug-cup.tokyo/cup/owner/"/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="マグカップサイズサーチ" />
<meta property="og:locale" content="ja_JP"  />
<meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block css %}
    <link rel="stylesheet" href='{% static "main\list.css" %}'>
    <link rel="stylesheet" href="{% static 'main\sass\owner.css' %}">
{% endblock %}
{% block title %}コップサイズサーチ > 運営者 | マグカップやコップをサイズ・容量・大きさから探そう{% endblock %}
{% block content %}
    <div class="main wrapper">
        <div class="owner">
            <h2>運営者</h2>
            <div class="text">
                <p>
                    東京都在住の20台後半(ほぼ30です)<br>
                    職業はインフラエンジニアです。
                </p>
                <p>
                    インスタンスコーヒーの140mlを見て厳密に守るかというと守らないです。<br>
                    ただ、ココアやコーンスープは濃い目に作りたいので、小さめのカップを使います。
                </p>

                <p>ちなみに、<br>レトロの喫茶店の一杯は150mlぐらいですが、<br>スターバックスのグランデは470mlもあるようです。</p>
                <p>それを考えると、<br>スターバックスが良心的に思えてきますね。</p>
            </div>
            <div class="owner">
                <p>質問やお問い合わせについては、運営者のtwitterからご連絡ください。</p>
                <a href="https://twitter.com/infrakato" class="twitter" target="_blank">
                    <div class="name">運営者のtwitter</div>
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/d6ddb93240.js" crossorigin="anonymous"></script>
{% endblock %}