{% extends "base.html" %}
{% load static %}
<!-- meta -->
{% block meta %}
<link rel="canonical" href="https://www.mug-cup.tokyo/cup/"/>
<meta property="og:title" content="マグカップサイズサーチ | マグカップやコップをサイズ・容量・大きさから探そう"/>
<meta property="og:description" content="マグカップやコップをサイズ・容量・大きさから検索することができます。大容量のコップやコーヒーにぴったりなマグカップを見つけたいときに向いています。"/>
<meta content="マグカップやコップをサイズ・容量・大きさから検索することができます。大容量のコップやコーヒーにぴったりなマグカップを見つけたいときに向いています。" name="description">
<meta property="og:url" content="https://www.mug-cup.tokyo/cup/"/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="マグカップサイズサーチ" />
<meta property="og:locale" content="ja_JP"  />
{% endblock %}
{% block css %}
    <link rel="stylesheet" href='{% static "main\top.css" %}'>
    <link rel="stylesheet" href="{% static 'main/swiper/swiper-bundle.min.css' %}">
{% endblock %}
{% block title %}マグカップサイズサーチ | マグカップやコップをサイズ・容量・大きさから探そう{% endblock %}

{% block content %}
    <div class="main wrapper" id="top">
        <div class="caption">
            <p><span>サイズ</span>と<span>素材</span>を選んで<br>コップ・マグカップを検索しよう</p>
            <br>
            <div class="caption-sub">
            <p>サイトを横断して探すことができます</p>
            </div>
        </div>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <a href="{% url 'article:article' 1 %}" class="swiper-slide" target="_blank">
                    <div class="hero-title">サイズの選び方</div>
                    <img src="{% static 'swiper/top-image-1.jpg' %}" alt="">
                </a>
                <a href="{% url 'cup:about' %}" class="swiper-slide" target="_blank">
                    <div class="hero-title">サイトについて</div>
                    <img src="{% static 'swiper/top-image-2.jpg' %}" alt="">
                </a>
{#                <a href="{% url 'cup:owner' %}" class="swiper-slide" target="_blank">#}
{#                    <div class="hero-title">素材による違い</div>#}
{#                    <img src="{% static 'swiper/top-image-3.jpg' %}" alt="">#}
{#                </a>#}
            </div>

        </div>
        <div class="size">
            <div class="size-head head">
                <h2 class="size-h2">
                    <img src="{% static 'measure.png' %}" alt="" class="size-img icon">
                    サイズ
                </h2>
            </div>
            <div class="size-selects">
                <button name="size-select" type="button" v-on:click="changeSizeBool('small')"
                        v-bind:class="{activeSize:isSmall}">
                    140～250ml<br><span>喫茶店のように飲むならこのサイズ</span>
                </button>
                <button name="size-select" type="button" v-on:click="changeSizeBool('medium')"
                        v-bind:class="{activeSize:isMedium}">
                    250～400ml<br><span>日常づかいにピッタリな定番サイズ</span>
                </button>
                <button name="size-select" type="button" v-on:click="changeSizeBool('large')"
                        v-bind:class="{activeSize:isLarge}">
                    400～600ml<br><span>たっぷりと注ぎたいならこのサイズ</span>
                </button>
            </div>
        </div>
        <div class="material">
            <div class="material-head head">
                <h2 class="material-h2">
                <img src="{% static 'material.png' %}" alt="" class="material-img icon">
                    検索したい素材
                </h2>
            </div>
            <div class="material-selects">
                <button name="material-select-1" type="button" v-on:click="changeMaterialBool('mug')"
                        v-bind:class="{activeMaterial:isMug}">
                    マグカップ
                </button>
                <button name="material-select-2" type="button" v-on:click="changeMaterialBool('glass')"
                        v-bind:class="{activeMaterial:isGlass}">
                    グラス
                </button>
                <button name="material-select-3" type="button" v-on:click="changeMaterialBool('stainless')"
                        v-bind:class="{activeMaterial:isStainless}">
                    ステンレス
                </button>
            </div>
        </div>
        <div class="search">
            <a v-bind:href="[[ searchUrl ]]" class="search-btn" v-bind:class="{isSearch:isSearch}">
                <i class="fa-solid fa-magnifying-glass"></i>
                検索
            </a>
        </div>
    </div>
    {% include "js.html" %}
    <script src="{% static 'main/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'main/js/top.js' %}"></script>
{% endblock %}