$bottom: 4rem;

.about {
  line-height: 1.5rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 60%;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: $bottom;
    margin-top: 2rem;
  }

  .about-image {

    height: auto;
    margin-left: auto;
    margin-right: auto;

    img {
      border-radius: 0.5rem;
    }
  }

  .text {
    margin-bottom: $bottom;

    & > * + * {
      margin-top: 1rem;
    }

    .dialogue {
      font-weight: 900;
      line-height: 1.5rem;
    }
  }

}