@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color:#432
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
* {
    color: #545454
}

.header-title {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    height: 90px;
}

.header-img {
    height: 32px;
    width: auto;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header-text {
    margin-left: 20px;
    transform: translateY(10px);
}

.header-msg {
    font-size: 10px;
    font-weight: bold;
}

