.wrapper {
    max-width: 140ch;
    width: 130ch;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a.sort-button {
    font-size: 1rem;
    background: #E6E5E3;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    width: 45%;
    text-align: center;
    display: block;
}


.sort {
    display: flex;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-gap: 1rem;
    --minimum: 30ch;
}

@supports (width: min(var(--minimum),100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
    }
}

.list {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.capacity, .price {
    font-size: 1.1rem;
}

.price {
    color: #B12704;
    font-weight: bold;
    font-size: 1.3rem;
}

.list-info a {
    font-size: 0.9rem;
    color: #E6E5E3;
    background: #545454;
    border-radius: 5px;
    padding: 0.5rem 0;
    display: block;
    font-weight: bold;
    text-align: center;
}

.list-image {
    display: flex;
    justify-content: center;
}

.list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.list-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list-info > * + * {
    margin-top: 0.5rem;
}

.list-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}


.list-image {
    height: 50%;
}

.list-image > img {
    height: 100%;
    width: auto;
}

.list-info {
    height: 45%;
}

.list-title {
    height: 3rem;
}


@media (max-width: 767px) {
    .wrapper {
        width: 100%;
    }

    .list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .list-image {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .list-info {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .list-info > * + * {
        margin-top: 0.5rem;
    }

    .list-image > img {
        margin-top: auto;
        margin-bottom: auto;
    }

    .list-title {
        font-size: 0.8rem;
    }

}


/* modal */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.modal-container {
    max-width: 60%;
    margin: 0px auto;
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    /*font-family: Helvetica, Arial, sans-serif;*/
}


.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-search a {
    font-size: 1rem;
    background: #E6E5E3;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    width: 70%;
    text-align: center;
    display: block;
}


@media (max-width: 767px) {
    .modal-container {
        max-width: 90%;
    }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

