@charset "UTF-8";
.pagination a {
    font-size: 16px;
    background: #E6E5E3;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    display: block;

}

a.current-page{
    background: #feedcb;
}

.pagelink-num {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pagelink-num a {
    padding: 10px 10px;
}


.pagination {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 60ch;
    margin: 1.5rem auto;
    justify-content: space-between;
}

