@charset "UTF-8";
.wrapper {
    width: 70ch;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

@media (max-width: 767px) {
    .wrapper {
        width: 95%;
    }
}

.wrapper > * {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper > * + * {
    margin-top: 2.5rem;
}

/* caption */
.caption > p {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.7rem;
}

.caption > p > span {
    font-size: 1.5rem;
}

.caption-sub p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
}

/* head */
.head {
    display: flex;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.icon {
    height: 1.2em;
    width: 1.2em;
}

.size-selects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}

.size-selects > * {
    margin: 0 auto;
}

.size-selects > * + * {
    margin-top: 1rem;
}

.size-selects > button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #E6E5E3;
    width: 95%;
    height: 3.5rem;
    border-radius: 5px;
    padding-left: 1rem;
    transition: all 0.2s ease
}

.size-selects > button span {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
}

button.activeSize {
    background-color: #feedcb;
}

.material-selects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}

.material-selects > * {
    margin: 0 auto;
}

.material-selects > * + * {
    margin-top: 1rem;
}

.material-selects > button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #E6E5E3;
    width: 95%;
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 1rem;
    transition: all 0.2s ease

}

button.activeMaterial {
    background-color: #feedcb;
}

a.search-btn {
    background-color: #545454;
    display: block;
    width: 95%;
    border-radius: 5px;
    color: #767676;
    font-weight: bold;
    font-size: 2rem;
    height: 4rem;
    text-align: center;
    transition: all 0.5s ease;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

a.isSearch {
    color: #fff;
}


/*swiper*/
.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    height: auto;
    overflow: hidden;
}

.swiper-slide img {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 1.9s ease;
}

.swiper-slide-active > img {
    transform: none;
}

.swiper-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
    border-radius: 0.5rem;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 1rem));
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 0.5s, transform 0.3s ease 0.5s
}

.swiper-slide-active > .hero-title {
    opacity: 1;
    transform: translate(-50%, -50%);
}