{% load static %}
<link rel="stylesheet" href='{% static "reset.css" %}'>
<link rel="stylesheet" href='{% static "main\base.css" %}'>
<link rel="stylesheet" href='{% static "main\sass\footer.css" %}'>
<link rel="stylesheet" href='{% static "main\header.css" %}'>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4KL4GJY0DD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4KL4GJY0DD');
</script>

