{% load static %}
<header id="header">
    <div class="header-title">
        <a href="{% url 'cup:top' %}">
        <div class="header-logo">
            <img src="{% static 'coffe_logo.png' %}" alt="" class="header-img">
            <div class="header-text">
                <h1 class="header-h1">
                    コップサイズサーチ
                </h1>
                <p class="header-msg">
                    ぴったりなサイズのコップを見つけよう
                </p>
            </div>
        </div>
        </a>
    </div>
</header>